In [1]:
# Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
attrition_df = pd.read_csv("./resources/HR-Employee-Attrition.csv")
attrition_df.head(20)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,No,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,2,80,2,17,3,2,7,7,7,7
10,35,No,Travel_Rarely,809,Research & Development,16,3,Medical,1,14,...,3,80,1,6,5,3,5,4,0,3
11,29,No,Travel_Rarely,153,Research & Development,15,2,Life Sciences,1,15,...,4,80,0,10,3,3,9,5,0,8
12,31,No,Travel_Rarely,670,Research & Development,26,1,Life Sciences,1,16,...,4,80,1,5,1,2,5,2,4,3
13,34,No,Travel_Rarely,1346,Research & Development,19,2,Medical,1,18,...,3,80,1,3,2,3,2,2,1,2
14,28,Yes,Travel_Rarely,103,Research & Development,24,3,Life Sciences,1,19,...,2,80,0,6,4,3,4,2,0,3
15,29,No,Travel_Rarely,1389,Research & Development,21,4,Life Sciences,1,20,...,3,80,1,10,1,3,10,9,8,8
16,32,No,Travel_Rarely,334,Research & Development,5,2,Life Sciences,1,21,...,4,80,2,7,5,2,6,2,0,5
17,22,No,Non-Travel,1123,Research & Development,16,2,Medical,1,22,...,2,80,2,1,2,2,1,0,0,0
18,53,No,Travel_Rarely,1219,Sales,2,4,Life Sciences,1,23,...,3,80,0,31,3,3,25,8,3,7
19,38,No,Travel_Rarely,371,Research & Development,2,3,Life Sciences,1,24,...,3,80,0,6,3,3,3,2,1,2

In [2]:
# Generate our categorical variable list
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()

In [3]:
attrition_cat

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'OverTime']

In [4]:
# just messin' around to see what happens (1)
attrition_ct = (attrition_df.dtypes == "object").index.tolist()

In [5]:
# (2)
attrition_ct

['Age',
 'Attrition',
 'BusinessTravel',
 'DailyRate',
 'Department',
 'DistanceFromHome',
 'Education',
 'EducationField',
 'EmployeeCount',
 'EmployeeNumber',
 'EnvironmentSatisfaction',
 'Gender',
 'HourlyRate',
 'JobInvolvement',
 'JobLevel',
 'JobRole',
 'JobSatisfaction',
 'MaritalStatus',
 'MonthlyIncome',
 'MonthlyRate',
 'NumCompaniesWorked',
 'Over18',
 'OverTime',
 'PercentSalaryHike',
 'PerformanceRating',
 'RelationshipSatisfaction',
 'StandardHours',
 'StockOptionLevel',
 'TotalWorkingYears',
 'TrainingTimesLastYear',
 'WorkLifeBalance',
 'YearsAtCompany',
 'YearsInCurrentRole',
 'YearsSinceLastPromotion',
 'YearsWithCurrManager']

In [6]:
# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transfomr the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names o the DataFrame
encode_df.columns = enc.get_feature_names_out(attrition_cat)
encode_df.head(10)

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
5,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
6,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
7,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
8,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
9,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [9]:
# Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df, left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head(10)

/Users/armandolatigo/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
5,32,1005,2,2,1,8,4,79,3,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
6,59,1324,3,3,1,10,3,81,4,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
7,30,1358,24,1,1,11,4,67,3,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
8,38,216,23,3,1,12,4,44,2,3,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
9,36,1299,27,3,1,13,3,94,3,2,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [12]:
# Split our preprocessed data into our features and target arrays
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

/Users/armandolatigo/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [13]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 456

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 507
Trainable params: 507
Non-trainable params: 0
_________________________________________________________________

2022-03-05 20:36:17.431202: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Train the model
fit_model = nn.fit(X_train, y_train, epochs=100)

Epoch 1/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4554 - accuracy: 0.8285
Epoch 2/100
35/35 [==============================] - 0s 818us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 3/100
35/35 [==============================] - 0s 791us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 4/100
35/35 [==============================] - 0s 814us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 5/100
35/35 [==============================] - 0s 798us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 6/100
35/35 [==============================] - 0s 795us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 7/100
35/35 [==============================] - 0s 791us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 8/100
35/35 [==============================] - 0s 796us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 9/100
35/35 [==============================] - 0s 826us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 10/100
35/35 [==============================] - 0s 840us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 11/100
35/35 [==============================] - 0s 832us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 12/100
35/35 [==============================] - 0s 816us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 13/100
35/35 [==============================] - 0s 801us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 14/100
35/35 [==============================] - 0s 765us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 15/100
35/35 [==============================] - 0s 757us/step - loss: 0.4553 - accuracy: 0.8285
Epoch 16/100
35/35 [==============================] - 0s 847us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 17/100
35/35 [==============================] - 0s 902us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 18/100
35/35 [==============================] - 0s 782us/step - loss: 0.4553 - accuracy: 0.8285
Epoch 19/100
35/35 [==============================] - 0s 756us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 20/100
35/35 [==============================] - 0s 766us/step - loss: 0.4553 - accuracy: 0.8285
Epoch 21/100
35/35 [==============================] - 0s 786us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 22/100
35/35 [==============================] - 0s 779us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 23/100
35/35 [==============================] - 0s 746us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 24/100
35/35 [==============================] - 0s 772us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 25/100
35/35 [==============================] - 0s 782us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 26/100
35/35 [==============================] - 0s 758us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 27/100
35/35 [==============================] - 0s 763us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 28/100
35/35 [==============================] - 0s 804us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 29/100
35/35 [==============================] - 0s 796us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 30/100
35/35 [==============================] - 0s 931us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 31/100
35/35 [==============================] - 0s 826us/step - loss: 0.4553 - accuracy: 0.8285
Epoch 32/100
35/35 [==============================] - 0s 968us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 33/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4554 - accuracy: 0.8285
Epoch 34/100
35/35 [==============================] - 0s 993us/step - loss: 0.4553 - accuracy: 0.8285
Epoch 35/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4554 - accuracy: 0.8285
Epoch 36/100
35/35 [==============================] - 0s 996us/step - loss: 0.4553 - accuracy: 0.8285
Epoch 37/100
35/35 [==============================] - 0s 824us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 38/100
35/35 [==============================] - 0s 823us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 39/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4554 - accuracy: 0.8285
Epoch 40/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4554 - accuracy: 0.8285
Epoch 41/100
35/35 [==============================] - 0s 774us/step - loss: 0.4553 - accuracy: 0.8285
Epoch 42/100
35/35 [==============================] - 0s 832us/step - loss: 0.4553 - accuracy: 0.8285
Epoch 43/100
35/35 [==============================] - 0s 783us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 44/100
35/35 [==============================] - 0s 799us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 45/100
35/35 [==============================] - 0s 776us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 46/100
35/35 [==============================] - 0s 802us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 47/100
35/35 [==============================] - 0s 821us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 48/100
35/35 [==============================] - 0s 777us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 49/100
35/35 [==============================] - 0s 756us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 50/100
35/35 [==============================] - 0s 779us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 51/100
35/35 [==============================] - 0s 830us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 52/100
35/35 [==============================] - 0s 822us/step - loss: 0.4553 - accuracy: 0.8285
Epoch 53/100
35/35 [==============================] - 0s 831us/step - loss: 0.4553 - accuracy: 0.8285
Epoch 54/100
35/35 [==============================] - 0s 853us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 55/100
35/35 [==============================] - 0s 809us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 56/100
35/35 [==============================] - 0s 826us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 57/100
35/35 [==============================] - 0s 782us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 58/100
35/35 [==============================] - 0s 822us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 59/100
35/35 [==============================] - 0s 837us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 60/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4554 - accuracy: 0.8285
Epoch 61/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4553 - accuracy: 0.8285
Epoch 62/100
35/35 [==============================] - 0s 872us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 63/100
35/35 [==============================] - 0s 795us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 64/100
35/35 [==============================] - 0s 764us/step - loss: 0.4553 - accuracy: 0.8285
Epoch 65/100
35/35 [==============================] - 0s 828us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 66/100
35/35 [==============================] - 0s 880us/step - loss: 0.4553 - accuracy: 0.8285
Epoch 67/100
35/35 [==============================] - 0s 808us/step - loss: 0.4554 - accuracy: 0.8285
Epoch 68/100
35/35 [==============================] - 0s 809us/step - loss: 0.4559 - accuracy: 0.8285
Epoch 69/100
35/35 [==============================] - 0s 812us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 70/100
35/35 [==============================] - 0s 755us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 71/100
35/35 [==============================] - 0s 811us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 72/100
35/35 [==============================] - 0s 838us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 73/100
35/35 [==============================] - 0s 957us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 74/100
35/35 [==============================] - 0s 825us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 75/100
35/35 [==============================] - 0s 865us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 76/100
35/35 [==============================] - 0s 915us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 77/100
35/35 [==============================] - 0s 843us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 78/100
35/35 [==============================] - 0s 822us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 79/100
35/35 [==============================] - 0s 842us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 80/100
35/35 [==============================] - 0s 954us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 81/100

35/35 [==============================] - 0s 809us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 82/100
35/35 [==============================] - 0s 788us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 83/100
35/35 [==============================] - 0s 774us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 84/100
35/35 [==============================] - 0s 848us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 85/100
35/35 [==============================] - 0s 790us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 86/100
35/35 [==============================] - 0s 807us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 87/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4597 - accuracy: 0.8276
Epoch 88/100
35/35 [==============================] - 0s 838us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 89/100
35/35 [==============================] - 0s 785us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 90/100
35/35 [==============================] - 0s 864us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 91/100
35/35 [==============================] - 0s 965us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 92/100
35/35 [==============================] - 0s 872us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 93/100
35/35 [==============================] - 0s 842us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 94/100
35/35 [==============================] - 0s 859us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 95/100
35/35 [==============================] - 0s 874us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 96/100
35/35 [==============================] - 0s 787us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 97/100
35/35 [==============================] - 0s 754us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 98/100
35/35 [==============================] - 0s 753us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 99/100
35/35 [==============================] - 0s 782us/step - loss: 0.4597 - accuracy: 0.8276
Epoch 100/100
35/35 [==============================] - 0s 938us/step - loss: 0.4597 - accuracy: 0.8276

In [19]:
# Evaluate the mdoel using test data
model_loss, model_accuracy = nn.evaluate(X_test, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 0.3895 - accuracy: 0.8723 - 103ms/epoch - 9ms/step
Loss: 0.3895174562931061, Accuracy: 0.8722826242446899